<html>

    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
    </head>
    <body>
        {% extends "base.html" %}

        {% block content %}

        {% for messages in get_flashed_messages()%}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ messages }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

            
        {% endfor %}

        <h3> Hello, {{ session["username"] |capitalize }}!</h3>

        <h1 style="max-width: fit-content; margin-left: auto; margin-right: auto;"> Dashboard </h1>

        <h2>Banking Accounts</h2>

        <div class="accounts">
            {%for saving in savings_list%}

                <div class="savings">
                    <h4> Saving: {{ saving.account_number }} - ${{ saving.balance }} </h4>
                </div>

            {%endfor%}    

            {% for checking in checkings_list %}

                <div class="checkings">
                    <h4> Checking: {{ checking.account_number }} - ${{ checking.balance }}</h4>
                </div>

            {% endfor %}
        </div>

        <!-- Spacing Bar -->
        <div class="spacer"></div>

        <h2>Transfer Money</h2>

        <form method="POST" action="/transfer">
            {{ form.hidden_tag()}}
            {{ form.from_account.label(class="form-label") }}
            <select name="from_account" class="form-select" aria-label="Choose Account" required>
                <option selected>Choose Account</option>
                {% for account in all_accounts %}
                    <option value="{{ account.account_number }}">{{ account.account_number }}</option>
                {% endfor %}
            </select>
            {{ form.to_account.label(class="form-label") }}
            <select name="to_account" class="form-select" aria-label="Choose Account" required>
                <option selected>Choose Account</option>
                {% for account in all_accounts %}
                    <option value="{{ account.account_number }}">{{ account.account_number }}</option>
                {% endfor %}
            </select>
            {{ form.amount.label(class="form-label") }}
            <input type="number" name="amount" class="form-control" id="amount" placeholder="Enter amount" required>

            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>


        {% endblock %}
    </body>
</html>