

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}">Banking Database</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if session['id'] %}:
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
          </li>
          {% endif %}
          {% if session['id'] %}:
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Transfer</a></li>
              <li><a class="dropdown-item" href="#">Deposit</a></li>
            </ul>
          </li>
          {% endif %}
          {% if session['id'] %}:
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
          {% endif %}
          {% if session['id'] %}:
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu">
              <!-- <li><a class="dropdown-item" href="{{url_for('change_number')}}">Change Number</a></li> -->
            </ul>
          </li>
          {% endif %}
          {% if session['id'] %}:
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>