.savings{
    background-color: #5078a0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.checkings{
    background-color: #5078a0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
